extends _layout.jade

block header
    #header
        .countainer.clearfix
            .log
                img(src="http://lorempixel.com/112/100/", alt="none")
            .nav
                ul.clearfix
                    li.active
                        a(href="#") HOME+
                    li
                        a(href="#") PAGES+
                    li 
                        a(href="#") FEATURES+
                    li 
                        a(href="#") PORTFOLIO+
                    li
                        a(href="#") BLOG+
                    li 
                        a(href="#") SHORTCODES+
                    li 
                        a(href="#") SHOP+
                    li.bundery 
                        a(href="#") CART(2)+
                    li 
                        a(href="#") SEARCH+
block content   
    #content
        .slider
            img(src="http://lorempixel.com/1920/1080/", alt="none")
    
        .category
            .countainer
                .row
                    .col-6
                        a(href="#")
                            img(src="http://lorempixel.com/575/265/", alt="none")
                            span.title OUTDOOR LIGHTING
                    .col-6
                        a(href="#")
                            img(src="http://lorempixel.com/575/265/", alt="none")
                            span.title WOODEM FLOORING
                    .col-4
                        a(href="#")
                            img(src="http://lorempixel.com/379/265/", alt="none")
                            span.title LIVING AREA
                    .col-4
                        a(href="#")
                            img(src="http://lorempixel.com/379/265/", alt="none")
                            span.title BATHROOM FITTINGS
                    .col-4
                        a(href="#")
                            img(src="http://lorempixel.com/379/265/", alt="none")
                            span.title TOOLS &amp; EQUIPMENT
    
        .recent_product
            .countainer
                .intro
                    h2 recrnt product
                    hr
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Quisquam, nesciunt!
                
                .products
                    ul
                        li
                            img(src="http://lorempixel.com/370/277/", alt="none")
                            h3.title 
                                a(href="#") persoiciatis unde omnis
                            .price $39,99
                            .cover o
                        li
                            img(src="http://lorempixel.com/370/277/", alt="none")
                            h3.title 
                                a(href="#") persoiciatis unde omnis
                            .price $39,99
                            .cover o
                            li
                            img(src="http://lorempixel.com/370/277/", alt="none")
                            h3.title 
                                a(href="#") persoiciatis unde omnis
                            .price $39,99
                            .cover o
                            li
                            img(src="http://lorempixel.com/370/277/", alt="none")
                            h3.title 
                                a(href="#") persoiciatis unde omnis
                            .price $39,99
                            .cover o
                            li
                            img(src="http://lorempixel.com/370/277/", alt="none")
                            h3.title 
                                a(href="#") persoiciatis unde omnis
                            .price $39,99
                            .cover o
                            li
                            img(src="http://lorempixel.com/370/277/", alt="none")
                            h3.title 
                                a(href="#") persoiciatis unde omnis
                            .price $39,99
                            .cover o
                            li
                            img(src="http://lorempixel.com/370/277/", alt="none")
                            h3.title 
                                a(href="#") persoiciatis unde omnis
                            .price $39,99
                            .cover o

        .event
            h1.title 30% DISCOUNT
            h3.title FOR THIS SUMMER ONLY
            a(href="#").button SHOP NOW

        .featuer
            .countainer
                .col-6
                    img(src="http://lorempixel.com/525/453/", alt="none")
                .col-6
                    .title feature item
                    h1 antic single sofa
                    p Lorem ipsum dolor sit amet consectetur adipisicing elit. Magnam similique dolor suscipit perspiciatis voluptatibus saepe commodi esse dolorum doloribus veritatis!
                    .price $240
                    a(href="#").button buy now

        .outlets
            .container
                h2 outlets
                hr
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Autem facere eligendi mollitia.
                .col-4.outlet
                    h3 sydney
                    .info
                        .addres Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        .phone    
                            label phone:
                                a(href="tel:+62-500-800-123") +62 500 800 123
                        .emall
                            label email:
                                a(href="mailto:example@gamil.com") example@gamil.com
                        .map
                            a(href="#" target="_blank") view map.col-4.outlet
                .col-4.outlet            
                    h3 sydney
                    .info
                        .addres Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        .phone    
                            label phone:
                                a(href="tel:+62-500-800-123") +62 500 800 123
                        .emall
                            label email:
                                a(href="mailto:example@gamil.com") example@gamil.com
                        .map
                            a(href="#" target="_blank") view map
                 .col-4.outlet            
                    h3 sydney
                    .info
                        .addres Lorem ipsum dolor sit amet consectetur adipisicing elit.
                        .phone    
                            label phone:
                                a(href="tel:+62-500-800-123") +62 500 800 123
                        .emall
                            label email:
                                a(href="mailto:example@gamil.com") example@gamil.com
                        .map
                            a(href="#" target="_blank") view map 
 
block footer  
    #footer
        .container
            .logo
                img(src="http://lorempixel.com/57/52/", alt="none")
            .copyright
                .title &copy; massive 2014.
                .subtitle buldng site with lots of fun
            .social-media
                ul
                    li
                        a(href="http://") 1
                    li
                        a(href="http://") 2
                    li
                        a(href="http://") 3
                    li
                        a(href="http://") 4
                    li
                        a(href="http://") 5
    #go-top top
        
            
    

